@import './common/style/mixin.less';
@import './common/style/base.less';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  // margin-top: .6rem;
  height: 100%;
  .router-link-active {
    color: @word!important;
  }
  // .border-1px(rgba(7, 17, 27, 0.1));


  // 底部
  .tab {
    display: flex;
    width: 100%;
    // height: 40px;
    line-height: .4rem;
    text-align: center;
    justify-content: space-around;
    // position: fixed;
    top: 0;
    padding: .1rem 0;
    // margin-top: 0.1rem;
    .tab-item {
      flex: 1;
      text-align: center;
      a {
        display: block;
        color: rgb(77, 85, 93);
        font-size: .12rem;
      }
    }
    .tab-item-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        line-height: .2rem;
      }
    }
    
  }
}